
<div class="bg">
<form method="GET" action="/artists">
    <label for="artist"></label>
    <input type="text" id="artist" name="artist" placeholder="Name" />
  <button class="btn btn-primary">  Search for an Artist</button>
</form> 
</div>